<main *ngIf="pokeList" class="main-wrapper">
  <!--Loop through pokelist data and show results-->
  <div *ngFor="let pokemon of pokeList.results" class="poke-menu-wrapper">
    <a routerLink="/pokemon/{{ pokemon.name }}" style="position: relative;">
      <img src="../../../assets/pokemenu.png" alt="pokemenu border" />
      <div class="name-wrapper">
        <img
          src="../../../assets/pokemonarrow.jpeg"
          alt="arrow"
          class="arrow"
        />
        <h1>{{ pokemon.name }}</h1>
      </div>
    </a>
  </div>
  <button (click)="onPreviousPage()">previous page</button>
  <button (click)="onNextPage()">next page</button>
</main>
