<app-poke-header></app-poke-header>
<main *ngIf="pokeData" class="main-wrapper">
  <!--Loop through pokeData data and show results-->
  <div *ngFor="let pokemon of pokeData.results" class="poke-menu-wrapper">
    <a routerLink="/pokemon/{{ pokemon.name }}" style="position: relative;">
      <img src="../../../assets/pokemenu.png" alt="pokemenu border" />
      <div class="name-wrapper">
        <img
          src="../../../assets/pokemonarrow.jpeg"
          alt="arrow"
          class="arrow"
        />
        <h1>{{ pokemon.name }}</h1>
      </div>
    </a>
  </div>
</main>
